<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <section id="home-section" class="hero">
		  <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image: url(images/main_sea3.jpg);">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-md-12 ftco-animate text-center">
	              <h1 class="mb-2">All you need for a great trip</h1>
	              <h2 class="subheading mb-4">고고트립에서 여행의 모든 것을 준비하세요</h2>
	              <p><a href="/shop/all/" class="btn btn-primary">Go Shopping</a></p>
	            </div>

	          </div>
	        </div>
	      </div>

	      <div class="slider-item" style="background-image: url(images/main_sea4.jpg);">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-sm-12 ftco-animate text-center">
	              <h1 class="mb-2">Share your journey with travelers</h1>
	              <h2 class="subheading mb-4">커뮤니티 사이트</h2>
	              <p><a href="/community/" class="btn btn-primary">Go to community</a></p>
	            </div>

	          </div>
	        </div>
	      </div>
	    </div>
    </section>

    <hr>

</body>
</html>