<!DOCTYPE html>
<html lang="en">
 
    <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
            <h1 class="mb-0 bread">Blog</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
						<div class="row">
							<div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_1.jpg');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="#">July 20, 2019</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><span>35 Views</span></div>
		                </div>
		                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
		                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		                <p><a href="/commu/detail" class="btn btn-primary py-2 px-3">Read more</a></p>
		              </div>
		            </div>		            
		          </div>

						</div>
          </div> <!-- .col-md-8 -->
          
          <div class="col-lg-4 sidebar ftco-animate">
          <p><a href="/commu/add" class="btn btn-primary py-2 px-3">NEW POST</a></p>
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon ion-ios-search"></span>
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
            	<h3 class="heading">Categories</h3>
              <ul class="categories">
                <li><a href="#">여행 정보 <span>(12)</span></a></li>
                <li><a href="#">여행 후기 <span>(22)</span></a></li>
                <li><a href="#">여행 관련 추천<span>(37)</span></a></li>
              </ul>
            </div>
            
            <div class="sidebar-box ftco-animate">
              <h3 class="heading">지역으로 찾기</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">서울</a>
                <a href="#" class="tag-cloud-link">제주</a>
                <a href="#" class="tag-cloud-link">광주</a>
              </div>
            </div>

            
          </div>

        </div>
      </div>
    </section> <!-- .section -->

</html>