<script>
	$(function(){
		$('#btn_commusearch').click(function(){
			$('#form_commusearch').attr({
				'method':'post',
				'action':'/community/search'
			});
			
			$('#form_commusearch').submit();
		});
		
	});
	
</script>
<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-0 bread">Community</h1>
      </div>
      <div class="col-md-9 ftco-animate text-center">
      	 <form id="form_commusearch" class="search-form">
		     <div class="form-group">			
		        <label>Search by</label>
		       	<select name="from">
		       		<option value="title">제목</option>
		       		<option value="content">내용</option>
		       		<option value="writer">작성자</option>
		       	</select>   
		     </div>    
		       <input type="text" name="keyword" class="form-control" placeholder="Search...">		     
		       <button id="btn_commusearch" type="submit" class="icon ion-ios-search"> Search</button>		     
	 	 </form>
		 <p><a href="/community/add" class="btn btn-primary py-2 px-3">NEW POST</a></p>

      </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
        
 <!----- Post List ----->
          <div class="col-lg-8 ftco-animate" th:each="p: ${postlist}">
			<div class="row">					
				<div class="col-md-12 d-flex ftco-animate">
		         	<div class="blog-entry align-self-stretch d-md-flex">
		              <a class="block-20" th:href="'/community/detail?id='+${p.id}" th:if="${p.imgname != null}" th:style="'background-image:url('+'/img/'+${p.imgname}+');'">
		              </a>
		              <a class="block-20" th:href="'/community/detail?id='+${p.id}" th:unless="${p.imgname != null}" style="background-image:url(/img/commu_basic.png)">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div th:text="${#dates.format(p.regdate, 'yyyy-MM-dd')}"></div>
		                  <div th:text="${p.uname}"></div>
		                  <div th:text="${views}"></div>
		                </div>
		                <h3 class="heading"><a href="#" th:text="${p.title}"></a></h3>
		                <p th:text="${p.content}"></p>
		                <p><a th:href="'/community/detail?id='+${p.id}" class="btn btn-primary py-2 px-3">Read more</a></p>
		              </div>
		            </div>		            
		          </div>
			</div>
		</div> <!-- .col-md-8 -->


			<!--  
<!----- Sidebar Start! ------>		     
      <div class="col-lg-4 sidebar ftco-animate" th:insert="${right} ? ${right} : right" ></div>
<!----- Sidebar End ------>		 
        </div>
      </div>
    </section> <!-- .section -->

</html>