<section class="ftco-section contact-section bg-light">
  <div class="container">
  
    <div class="row block-9">
      <div class="col-md-6 order-md-last d-flex">
        <form action="#" class="bg-white p-5 contact-form">
        <h2 class="mb-4">글쓰기</h2>
          <div class="form-group">
          	<label for="title">Title: </label>
            <input type="text" name="title" class="form-control" th:value="${dpost.title}">
          </div>
          <div class="form-group">
          	<label>Category: </label>
            <select name="type">
            	<option value="정보">정보</option>
            	<option value="후기">후기</option>
            	<option value="추천">추천</option>
            </select>
            <label>Location :</label>
            <input type="text" name="location" th:value="${dpost.location}">
          </div>
		  <div class="form-group">
		  	 <label>Content: </label>
             <textarea name="" id="" cols="15" rows="15" class="form-control" th:text="${dpost.content}"></textarea>          
          </div>
          <div class="form-group">
          	<label>Image: </label>
          	<input type="file" name="mf" class="form-control">
          </div>
          <div class="form-group">
            <input type="submit" value="POST" id="btn_join" class="btn btn-primary py-3 px-5">
          </div>
        </form>
      
      </div>

    </div>
  </div>
  
 
  
</section>
             