<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.BuyMapper">
	
	<select id="selectpinfo" resultType="buypageItemVO">
		SELECT id AS pid, name, price, imgname, discount FROM product
		WHERE id=#{id}
	</select>

	
	<insert id="insert" parameterType="buyVO">
		INSERT INTO buy VALUES (#{id},#{uid},#{phone},#{totalprice},#{payment},#{name},CURDATE(),DEFAULT,#{deliveryfee},#{usedpoint},#{zip},#{addrf},#{addrs})
	</insert>
	
	<select id="selectbyid" parameterType="String" resultType="buyVO">
		SELECT * FROM buy
		WHERE uid=#{uid}
	</select>
		<select id="selectall" resultType="buyVO">
		SELECT * FROM buy
	</select>
	<!-- 
	<insert id="insert" parameterType="buyVO">
		INSERT INTO buy VALUES (null,#{uid},#{name},#{zip},#{addrf},#{addrs},#{phone},#{totalprice},#{payment},SYSDATE())
	</insert>
	<update id="update" parameterType="buyVO">
		UPDATE buy SET UID=#{uid}, name=#{name}, zip=#{zip}, addrf=#{addrf}, addrs=#{addrs}, phone=#{phone}, totalprice=#{totalprice}, payment=#{payment} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM buy WHERE ID=#{id}
	</delete>
	-->
</mapper>