<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CommuMapper">

<!-- 기본 select -->
	<select id="select" parameterType="int" resultType="commuVO">
		SELECT cm.id, cm.uid, cu.name AS uname, cm.type, cm.title, cm.content, cm.regdate, cm.location, cm.imgname, cm.views
		FROM commu cm
		INNER JOIN cust cu ON cm.uid=cu.id
		WHERE cm.id=#{id};
	</select>
	<select id="selectall" resultType="commuVO">
		SELECT * FROM commu
	</select>
	<select id="selectlist" resultType="commuVO">
		SELECT cm.id, cm.uid, cu.name AS uname, cm.type, cm.title, cm.content, cm.regdate, cm.location, cm.imgname, cm.views
		FROM commu cm
		INNER JOIN cust cu ON cm.uid=cu.id
		ORDER BY id DESC; 
	</select>
	<select id="selectloc" resultType="locVO">
		SELECT DISTINCT(location) FROM commu
		WHERE location != "";
	</select>
	<select id="selecttype" resultType="typeVO">
		SELECT DISTINCT(type) FROM commu;
	</select>
	
	
<!-- Type별 개수 select-->
	<select id="selectallcnt" resultType="int">
		SELECT COUNT(*) FROM commu;
	</select>
	<select id="selectcnt" resultType="int">
		SELECT COUNT(*) FROM commu
		WHERE type=#{type};
	</select>

<!-- Type별 목록 select-->
	<select id="selectbytype" parameterType="String" resultType="commuVO">
		SELECT cm.id, cu.name AS uname, cm.type, cm.title, cm.content, cm.regdate, cm.location, cm.imgname, cm.views
		FROM commu cm
		INNER JOIN cust cu ON cm.uid=cu.id
		WHERE cm.type=#{type};	
	</select>
	
<!-- Location별 목록 select-->
	<select id="selectbyloc" parameterType="String" resultType="commuVO">
		SELECT cm.id, cu.name AS uname, cm.type, cm.title, cm.content, cm.regdate, cm.location, cm.imgname, cm.views
		FROM commu cm
		INNER JOIN cust cu ON cm.uid=cu.id
		WHERE cm.location=#{location};
	</select>
	
<!-- 제목, 내용에 키워드 포함한 글 select-->
	<select id="selectbykeyword" parameterType="String" resultType="commuVO">
		SELECT cm.id, cu.name AS uname, cm.type, cm.title, cm.content, cm.regdate, cm.location, cm.imgname, cm.views
		FROM commu cm
		INNER JOIN cust cu ON cm.uid=cu.id
		<choose>
			<when test="from != null and from.equals('title')">
				WHERE title LIKE CONCAT('%',#{keyword},'%')
			</when>
			<when test="from != null and from.equals('content')">
				WHERE content LIKE CONCAT('%',#{keyword},'%')
			</when>
			<when test="from != null and from.equals('writer')">
				WHERE name LIKE CONCAT('%',#{keyword},'%')
			</when>
		</choose>
		ORDER BY id DESC;
	</select>
	
	
<!-- !(Location.equals(""))일 때 insert-->
	<insert id="insert" parameterType="commuVO">
		<if test='imgname == ""'>
			INSERT INTO commu VALUES(NULL, #{uid}, #{type}, #{title}, #{content}, CURDATE(), #{location}, NULL, DEFAULT)
		</if>
		<if test='imgname != ""'>
			INSERT INTO commu VALUES(NULL, #{uid}, #{type}, #{title}, #{content}, CURDATE(), #{location}, #{imgname}, DEFAULT)
		</if>
	</insert>
	
<!-- Location.equals("")일 때 insert-->
	<insert id="insertnoloc" parameterType="commuVO">
		<if test='imgname == ""'>
			INSERT INTO commu VALUES(NULL, #{uid}, #{type}, #{title}, #{content}, CURDATE(), NULL, NULL, DEFAULT)
		</if>
		<if test='imgname != ""'>
			INSERT INTO commu VALUES(NULL, #{uid}, #{type}, #{title}, #{content}, CURDATE(), NULL, #{imgname}, DEFAULT)
		</if>
	</insert>

<!-- !(Location.equals(""))일 때 update-->
	<update id="update" parameterType="commuVO">
		<if test='imgname == "0"'>
			UPDATE commu SET type=#{type}, title=#{title}, content=#{content}, location=#{location}, imgname=#NULL
			WHERE id=#{id}
		</if>
		<if test='imgname != "0"'>
			UPDATE commu SET type=#{type}, title=#{title}, content=#{content}, location=#{location}, imgname=#{imgname}
			WHERE id=#{id}
		</if>
	</update>
	
<!-- Location.equals("")일 때 update-->
	<update id="updatenoloc" parameterType="commuVO">
		<if test='imgname == "0"'>
			UPDATE commu SET type=#{type}, title=#{title}, content=#{content}, location=NULL, imgname=NULL
			WHERE id=#{id}
		</if>
		<if test='imgname != "0"'>
			UPDATE commu SET type=#{type}, title=#{title}, content=#{content}, location=NULL, imgname=#{imgname}
			WHERE id=#{id}
		</if>
	</update>

<!-- views 증가 update-->
	<update id="increaseviews" parameterType="commuVO">
		UPDATE commu SET views=#{views} WHERE id=#{id}
	</update>
	
<!-- Delete -->
	<delete id="delete" parameterType="int">
		DELETE FROM commu WHERE id=#{id}
	</delete>
	


</mapper>






