<script th:inline="javascript">

	function deletecart(ctid){	
		var uid = $('input[name="uid"]').val();
		location.href='/shop/cart/delete?ctid='+ctid+'&uid='+uid;
	};
	/*
	//quantity 변할 때마다 single total(=price*quantity) 재계산
	function singletotalp(pid){
		var qt = $('input[name="quantity"]').val();
		$.ajax({
			url:'singletotalp',
			data:{
				'qt':qt,
				'pid':pid
			},
			success: function(result){
				alert(result);
			}
		});
	}
*/

	function updatecart(ctid){
		var qt = $('input[name="quantity"]').val();
		$.ajax({
			url:'cart/updatecart',
			data:{
				'qt':qt,
				'ctid':ctid
			},
			success: function(result){
				alert('updated');
			}
		});
	};
	
	$(document).ready(function(){
		
	});

</script>

      <div class="row justify-content-center mb-5 pb-3" id="header_cart">
        <div class="col-md-7 heading-section ftco-animate text-center">
        	<span class="subheading">장바구니</span>
          <h2 class="mb-4">Cart</h2>
        </div>
      </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
    				<!-- uid 숨김 -->
    				<input type="hidden" th:if="${session.logincust != null}" th:value="${session.logincust.id}" id="uid" name="uid">
	    				<!-- table 시작 -->
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr class="text-center" th:each="c : ${crtlist}">
						    	   
						    	    <!-- 삭제 버튼 -->		      		
							        <td class="product-remove"><a href="#" th:onclick="deletecart([[${c.id}]])"><span class="ion-ios-close"></span></a></td>							        
							        <td class="image-prod"><div class="img" style="background-image:url(/images/product-3.jpg);"></div></td>						        
							        <td class="product-name">
							        	<h3 th:text=${c.pname}></h3>
							        </td>
							        <!-- price -->								        
							        <td class="price" th:text="${c.price}" id="singleprice">
							        	<input type="hidden" th:value="${c.price}" name="itemprice">
							        </td> 
							        <!-- quantity -->							        
							        <td class="quantity">
							        	<input type="number" th:id="'q'+${c.id}" name=quantity
									     class="form-control input-number" th:value="${c.cnt}" min="0" max="100"
									     th:onkeypress="if(event.keyCode=='13'){event.preventDefault(); updatecart([[${c.id}]]);}">					    
						       	   </td>
						       		<!-- item별 금액(가격*개수) -->					        
							       <td class="total" id="priceperitem">$4.90</td>
							       <!-- cart id 숨김 -->
							       <td class="total" display="none"><input type="hidden" th:value=${c.id} name="ctid"></td>	
							       </tr><!-- END TR--> 
						    </tbody>
						  </table>
						  <!-- table 끝 -->
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>$20.60</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>$0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>$3.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>$17.60</span>
    					</p>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
    		</div>
			</div>
		</section>
