<style>
.fmsg{
	color:violet;
}

</style>

<script>
var errorid = 1;
var erroremail = 1;
var errorphone = 1;


function checkid(id){
	if(id.length < 4){
		$('#ispan').text('This ID is too short.');
		errorid = 1
	}else{
		$.ajax({
			url:'/checkid',
			data:{'id':id},
			success:function(data){
				if(data == "0"){
					if(id == ""){
						data = "1"
					}
					$('#ispan').text('');
				}else if(data == "1"){
					$('#ispan').text('This ID is already exist');
				}
				errorid = data;
			}
		});
	}
}
function checkemail(email){
	$.ajax({
		url:'/checkemail',
		data:{'email': email},
		success:function(data){
			if(data == "0"){
				if(email == ""){
					data = "1"
				}
				$('#espan').text('');
			}else if(data == "1"){
				$('#espan').text('This e-mail is already exist');
			}
			erroremail = data;
		}
	});
}
function checkphone(phone){
	if(phone.length != 11){
		$('#pspan').text('Length must be 11');
		errorphone = 1
	}else{
		$.ajax({
			url:'/checkphone',
			data:{'phone':phone},
			success:function(data){
				if(data == "0"){
					if(phone == ""){
						data = "1"
					}
					$('#pspan').text('');
				}else if(data == "1"){
					$('#pspan').text('This number is already exist');
				}else{
					$('#pspan').text('Input Number type');
				}
				errorphone = data;
			}
		});
	}
}


function register(pwd,name,zip,addrf){
	console.log("id: "+errorid);
	console.log("email: "+erroremail);
	console.log("phone: "+errorphone);
	if(errorid != 0){
		alert("ID Error");
		$('#id').focus();
	}else if(pwd == ""){
		alert("Input Password");
		$('#pwd').focus();
		
	}else if(name == ""){
		alert("Input name");
		$('#name').focus();
	}else if(erroremail != 0){
		alert("e-mail Error");
		$('#email').focus();
	}else if(errorphone != 0){
		alert("Phone number Error");
		$('#id').focus();
	}else if(zip == ""){
		alert("Input ZIP");
		$('#zip').focus();
	}else if(addrf == ""){
		alert("Input address");
		$('#addrf').focus();
	}
	else{
		$('#register_form').attr({
			'method':'post',
			'action':'registerimpl'
		});
		$('#register_form').submit();
	}
}



$(document).ready(function(){
	$('#register_btn').click(function(){
		var pwd = $('#pwd').val();
		var name = $('#name').val();
		var zip = $('#zip').val();
		var addrf = $('#addrf').val();
		
		register(pwd,name,zip,addrf);
		
	});
	
	$('#id').blur(function(){
		var id = $(this).val();
		console.log("id: "+id);
		checkid(id);
	});
	$('#email').blur(function(){
		var email = $(this).val();
		console.log("email: "+email);
		checkemail(email);
	});
	$('#phone').blur(function(){
		var phone = $(this).val();
		console.log("phone: "+phone);
		checkphone(phone);
	});
	
});


	/*
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
            // 예제를 참고하여 다양한 활용법을 확인해 보세요.
        }
    }).open();
    
    */
</script>
<section class="ftco-section contact-section bg-light">
  <div class="container">
    <div class="row block-9">
      <div class="col-md-6 order-md-last d-flex">
        <form id="register_form" class="bg-white p-5 contact-form">
        <h2 class="mb-4">Join Us</h2>
          <div class="form-group">
          	<label>ID: </label>
            <input id="id" type="text" name="id" class="form-control" placeholder="Enter ID">
            <span id="ispan" class="fmsg"></span>
          </div>
          
          <div class="form-group">
          	<label>Password: </label>
            <input id="pwd" type="password" name="pwd" class="form-control" placeholder="Enter Password">
          </div>
          <div class="form-group">
          	<label>Name: </label>
            <input id="name" type="text" name="name" class="form-control" placeholder="Enter Name">
          </div>
          <div class="form-group">
          	<label>Email: </label>
            <input id="email" type="email" name="email" class="form-control" placeholder="Enter Email">
            <span id="espan" class="fmsg"></span>
          </div>
          <div class="form-group">
          	<label>Phone Number: </label>
            <input id="phone" type="text" name="phone" class="form-control" placeholder="Enter Phone number">
            <span id="pspan" class="fmsg"></span>
          </div>
          <div class="form-group">
          	<label>Address: </label>
          	<input id="zip" type="number" name="zip" class="form-control" placeholder="ZIP Code">          	
          	<input id="addrf" type="text" name="addrf" class="form-control" placeholder="Enter Address">
            <input id="addrs" type="text" name="addrs" class="form-control" placeholder="Enter Address">
          </div>
          
          

          <div class="form-group">
            <input value="JOIN" id="register_btn" class="btn btn-primary py-3 px-5">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

   
