<script>

$(function(){
	$('#btn_login').click(function(){
		$('#form_login').attr({
			'method':'post',
			'action':'/loginimpl'
		});
		$('#form_login').submit();
	});
	
	
});
</script>

 <section class="ftco-section contact-section bg-light">
   <div class="container">
   
     <div class="row block-9">
       <div class="col-md-6 order-md-last d-flex">
         <form id="form_login" class="bg-white p-5 contact-form">
         	<input type="hidden" name="returnUrl" class="form-control" th:if="${returnUrl != null}" th:value="${returnUrl}">
         	<h2 class="mb-4">Login</h2>
         	<span th:text="${loginmsg}"></span>
           <div class="form-group">
           <label for="uid">ID:</label>
             <input type="text" name="id" id="uid" class="form-control" placeholder="Enter ID">
           </div>
           <div class="form-group">
           <label for="upwd">Password: </label>
             <input type="password" name="pwd" id="upwd" class="form-control" placeholder="Enter Password">
           </div>
           <div class="form-group">
             <input type="submit" value="LOGIN" id="btn_login" class="btn btn-primary py-3 px-5">            
           </div>        
           <span><a href="/findid">아이디, 비밀번호 찾기</a></span>   
         </form>         
       </div>
     </div>
   </div>
 </section>

   
