
<meta charset="UTF-8">




<table class="table"  >
  <thead class="thead-primary">
    <tr class="text-center">
      <th>#</th>
      <th>수령인</th>
      <th>결제 금액</th>
      <th>결제 일자</th>
      
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" th:if="${buylist != null}" th:each="b : ${buylist}">
       <td>
       	<h5> <a th:text="${b.id}" th:href="@{/buydetail(oid=${b.id})}"></a></h5>
       </td>
       <td>
       	<h5 th:text="${b.name}"></h5>
       </td>
       <td>
       	<h5 th:text="${b.totalprice}+'won'"></h5>
       </td>
       <td>
       	<h5 th:text="${#dates.format(b.regdate, 'yyyy/MM/dd')}"></h5>
       </td>
       
      
  </tbody>
</table>