<body class="goto-here">

 <section class="ftco-section bg-light">
	<div class="container">
		<div class="row no-gutters ftco-services">
		
        <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
          		<span class="flaticon-shipped"></span>
            </div>
            <div class="media-body">
              <h3 class="heading"><a href="#">주문 내역</a></h3>
            </div>
          </div>      
        </div>
        
        <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
          		<span class="flaticon-award"></span>
            </div>
            <div class="media-body">
              <h3 class="heading"><a href="#">내가 쓴 글</a></h3>
            </div>
          </div>      
        </div>
        
        <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
	         
	            <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
	          		 <span class="flaticon-customer-service"></span>
	            </div>
	        
            <div class="media-body">
              <h3 class="heading"><a th:href="@{/userinfo(id=${session.logincust.id})}">회원 정보</a></h3>
            </div>
          </div>      
        </div>
       </div>
      </div>
</section>

</body>
